@font-face {
  font-family: Arcade;
  src: url('/fonts/webpixelbitmap_regular.otf') format('opentype');
}

@font-face {
  font-family: Terminal;
  src: url('/fonts/DOS.ttf');
}

* {
  margin: 0;
  padding: 0;
  outline-style: none;
}

:root {
  --cube-size: 110px;
  --cube-scale: 1;
  --cube-multiplier: 1.5;
  --cube-padding-vertical: 60px;
}

.app {
  display: block;
  background-color: black;
  overflow-y: visible;
  text-align: center;
}

.app-nav-trim {
  display: inline-block;
  opacity: 0.5;
  background-color: white;
  background-image: radial-gradient(circle, #00d4ff 0%, rgb(0, 100, 200) 100%);
  height: 3px;
  width: 90%;
  border-radius: 30%;
  animation: pulse 20s linear infinite;
  margin: 16px 0 0 0;
}

.app-content {
  position: relative;
  width: 85%;
  height: 100%;
  margin: 20px auto 20px auto;
}

.app-content-page {
  width: 64%;
  height: 100%;
}

body {
  background-color: black;
}

h1 {
  font-family: Arcade;
  font-size: 3.2em;
  color: white;
}

h2 {
  font-family: Terminal;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.65em;
  color: green;
  filter: brightness(2);
}

h3 {
  font-family: Arcade;
  font-size: 2.5em;
  color: white;
  display: inline-block;
}

button {
  font-family: Arcade;
  font-size: 2.5em;
  color: #2db5b5;
  border: none;
  background-color: transparent;
}

button:hover {
  opacity: 0.5;
}

.form {
  margin: 30px 0 30px 0;
  display: block;
}

.text-field-div {
  white-space: nowrap;
}

.text-field {
  width: 60%;
  font-family: Arcade;
  font-size: 2.5em;
  color: white;
  background-color: transparent;
  text-align: center;
  border: none;
  text-align: left;
  margin-left: 3%;
}

.text-field:focus {
  filter: brightness(2);
}

.text-field-div h3 {
  width: 35%;
  text-align: right;
}

.home-select {
  width: 60%;
  display: inline-block;
  text-align: left;
  margin-left: 3%;
}

.home-select select {
  background-color: transparent;
  color: white;
  font-family: Arcade;
  font-size: 2.5em;
  border: 0;
  border-bottom: 1px solid pink;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.button {
  margin-top: 30px;
  background-color: transparent;
  color: yellow;
  display: block;
  text-align: center;
  border: none;

  font-family: Arcade;
  font-size: 2.5em;
}

.button:hover {
  opacity: 0.5;
}

button[type='submit'] {
  display: none;
}

.display-inline {
  display: inline;
}

.display-none {
  display: none;
}

@keyframes pulse {
  100% { filter: hue-rotate(-360deg); }
}
