@font-face {
  font-family: Arcade;
  src: url('/fonts/webpixelbitmap_regular.otf') format('opentype');
}

@font-face {
  font-family: Terminal;
  src: url('/fonts/DOS.ttf');
}

* {
  margin: 0;
  padding: 0;
  outline-style: none;
}

:root {
  --cube-size: 110px;
  --cube-scale: 1;
  --cube-multiplier: 1.5;
  --cube-margin-horizontal: 50px;
  --cube-padding-vertical: 60px;

  --nav-slider-width: 1500px;
}

.app {
  display: block;
  background-color: black;
  overflow-y: visible;
  height: 68vh;
  text-align: center;
}

.app-nav-trim {
  display: inline-block;
  opacity: 0.5;
  background-color: white;
  background-image: radial-gradient(circle, #00d4ff 0%, rgb(0, 100, 200) 100%);
  height: 3px;
  width: 90%;
  border-radius: 30%;
  animation: pulse 20s linear infinite;
}

.app-content {
  position: relative;
  width: 85%;
  height: 100%;
  margin: 20px auto 20px auto;
}

.app-content-page {
  width: 65%;
  height: 100%;
}

body {
  background-color: black;
}

h1 {
  font-family: Arcade;
  font-size: 3.2em;
  color: white;
}

h2 {
  font-family: Terminal;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.65em;
  color: green;
  filter: brightness(2);
}

@keyframes pulse {
  100% { filter: hue-rotate(-360deg); }
}
