* {
  outline-style: none;
}

:root {
  --cube-size: 150px;
  --cube-scale: 1;
  --cube-multiplier: 1.4;
}

body {
  background-color: pink;
}

.App {
  display: flex;
  align-items: center;

  background-color: black;
  overflow-y: visible;
  height: 1000px;
  margin-left: 20%;
  margin-right: 20%;
}
