* {
  outline-style: none;
}

:root {
  --cube-size: 150px;
  --cube-scale: 1;
  --cube-multiplier: 1.4;

  --nav-slider-width: 1500px;
}

body {
  background-color: pink;
}

.App {
  display: block;
  width: 100%;
  background-color: black;
  overflow-y: visible;
  height: 1000px;
}
