* {
  outline-style: none;
}

body {
  background-color: pink;
}

.App {
  display: flex;
  align-items: center;

  background-color: black;
  overflow-y: visible;
  height: 1000px;
  margin-left: 20%;
  margin-right: 20%;
}
