* {
  outline-style: none;
}

:root {
  --cube-size: 110px;
  --cube-scale: 1;
  --cube-multiplier: 1.5;
  --cube-margin-horizontal: 50px;
  --cube-padding-vertical: 60px;

  --nav-slider-width: 1500px;
}

.app {
  display: block;
  width: 100%;
  background-color: black;
  overflow-y: visible;
  height: 70vh;
  text-align: center;
}

.app-nav-trim {
  display: inline-block;
  opacity: 0.5;
  background-color: white;
  background-image: radial-gradient(circle, #00d4ff 0%, rgb(0, 100, 200) 100%);
  height: 3px;
  width: 90%;
  border-radius: 30%;
  animation: pulse 20s linear infinite;
}

.app-content {
  position: relative;
  width: 85%;
  height: 100%;
  background-color: white;
  margin: 5px auto 5px auto;
}

.app-content-page {
  background-color: yellow;
  width: 65%;
  height: 100%;
}

body {
  background-color: black;
}

h1 {
  color: green;
}

@keyframes pulse {
  100% { filter: hue-rotate(-360deg); }
}
