.nav-root {
  background-color: blue;
  margin: auto;
  display: block;
}

.nav-slider {
  margin: auto;
  background-color: green;
  width: var(--nav-slider-width);
  white-space: nowrap;
  scroll-behavior: smooth;
}
