.nav-root {
  margin: auto;
  display: block;
}

.nav-slider {
  text-align: center;
  margin: auto;
  width: var(--nav-slider-width);
  white-space: nowrap;
  scroll-behavior: smooth;
}

.slick-next {
  right: 0;
}

.slick-prev {
  left: 0;
}
