/* INDEX:
 *   Navigation Bar
 *   Slick React
 *   Terminal
 *   Screen Resize
*/


/* Navigation Bar */
.nav-root {
  width: 100%;
  margin: auto;
  display: block;
}

.nav-slider {
  text-align: center;
  margin: auto;
  width: 95%;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.front {
  z-index: 100;
}

.fixed {
  position: fixed;
  background-color: black;
}


/* Slick React */
.slick-next {
  right: 0;
}

.slick-prev {
  left: 0;
}

.slick-arrow {
  z-index: 1;
}


/* Terminal */
.terminal {
  position: fixed;
  right: 4vw;
  width: 32%;
  height: 68vh;
  text-align: left;
}

.terminal-output {
  scrollbar-width: none;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-height: 50px;
}

.terminal-output div  {
  overflow: auto;
  display: inline-block;
  vertical-align: top;
}


/* Screen Resize */
/* 4 Cubes */
@media only screen and (max-width: 1500px) {
  .terminal {

  }
}

/* 3 Cubes */
@media only screen and (max-width: 1200px) {
  .terminal {
    display: none;
  }
  .app-content-page {
    width: 100%;
  }
}

/* 2 Cubes */
@media only screen and (max-width: 900px) {
  .student-middle {
    display: none;
  }
}

/* 2 Cubes */
@media only screen and (max-width: 600px) {
  .student-left {
    display: none;
  }
}
