.nav-root {
  background-color: blue;
  margin: auto;
  display: block;
}

.nav-slider {
  text-align: center;
  margin: auto;
  background-color: black;
  width: var(--nav-slider-width);
  white-space: nowrap;
  scroll-behavior: smooth;
}
