/* INDEX:
 *   Navigation Bar
 *   Slick React
 *   Terminal
 *   Screen Resize
 *   Animations
*/

/* Navigation Bar */
.nav-root {
  margin: auto;
  display: block;
}

.nav-slider {
  text-align: center;
  margin: auto;
  width: var(--nav-slider-width);
  white-space: nowrap;
  scroll-behavior: smooth;
}


/* Slick React */
.slick-next {
  right: 0;
}

.slick-prev {
  left: 0;
}

.slick-arrow {
  z-index: 1;
}


/* Terminal */
.terminal {
  float: right;
  width: 35%;
  height: 100%;
  text-align: left;
}

.terminal-output {
  scrollbar-width: none;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  min-height: 50px;
}

.terminal-output div {
  display: inline-block;
  vertical-align: top;
}

/* Screen Resize */
/* 3 Cubes */
@media only screen and (max-width: 1200px) {
  .terminal {
    width: 45%;
  }
  .app-content-page {
    width: 55%;
  }
}

/* 2 Cubes */
@media only screen and (max-width: 900px) {
  .terminal {
    display: none;
  }
  .app-content-page {
    width: 100%;
  }
}
