/* cube */
.scene {
  display: inline-block;
  /*--cube-size: 150px;
  --cube-scale: 0.5;
  --cube-multiplier: 1.4;*/

  transform: scale(var(--cube-scale));
  width: var(--cube-size);
  height: var(--cube-size);
  perspective: 600px;
  padding: 60px;
  margin: 10px;
  transition: transform 0.5s;
}

.cube {
  width: inherit;
  height: inherit;
  position: relative;
  transform-style: preserve-3d;
  animation: rotate 5s linear infinite;
}

.cube-face {
  border-radius: 20%;
  width: inherit;
  height: inherit;
  position: absolute;
  background: white;
  opacity: 0.2;
  transform: rotateY(0);
}

.cube-face-front {
  border-radius: 20%;
  background: green;
  transform: translate3d(0, 0, calc( var(--cube-size) / 2 ));
}

.cube-face-back {
  border-radius: 20%;
  background-color: yellow;
  transform: rotateY(180deg) translate3d(0, 0, calc( var(--cube-size) / 2 ));
}

.cube-face-left {
  border-radius: 20%;
  background-color: magenta;
  transform: rotateY(-90deg) translate3d(0, 0, calc( var(--cube-size) / 2 ));
}

.cube-face-right {
  border-radius: 20%;
  background-color: blue;
  transform: rotateY(90deg) translate3d(0, 0, calc( var(--cube-size) / 2 ));
}

.cube-face-bottom {
  border-radius: 20%;
  background-color: red;
  transform: rotateX(-90deg) translate3d(0, 0, calc( var(--cube-size) / 2 ));
}

.cube-face-top {
  border-radius: 20%;
  background-color: yellow;
  transform: rotateX(90deg) translate3d(0, 0, calc( var(--cube-size) / 2 ));
}


/* circle */
.cube-inner-circle {
  border-radius: 50%;
  opacity: 0.7;
}

.cube-inner-rotating-circle {
  background-color: transparent;
}

.cube-inner-rotating-logo {
  width: 100%;
}

.cube-inner-static-logo {
  width: 100%;
  opacity: 0;
}


/* hover */
.scene:hover {
  transform: scale(calc( var(--cube-scale) * var(--cube-multiplier) ));
  transition: transform 0.5s;
}

.scene:hover .cube {
  animation-play-state: paused;
}

.scene:hover .cube-inner-circle{
  opacity: 1;
  transition: opacity 1s;
}

.scene:hover .cube-inner-rotating-logo {
  opacity: 0;
  transition: opacity 0.5s;
}

.scene:hover .cube-inner-static-logo {
  opacity: 1;
  transition: opacity 0.5s;
}


/* animations */
@keyframes rotate {
  100% { transform: rotate3d(random(1),random(1),random(1),360deg) }
}

@keyframes stalling {
  0% { transform: rotateY(-20deg) }
  100% { transform: rotateY(340deg); }
}
