.student-group {
  margin: 13px 0 0 0;
  white-space: normal;
}

.student-group h3 {
  margin-bottom: 20px;
}

.class-field {
  background-color: transparent;
  text-align: center;
  color: yellow;
  margin: 0;
}

.student-group input:not(.class-field) {
  text-align: center;
  color: #aaa;
  width: 31.3%;
  margin: 0;
}

.student-group-div {
  margin-bottom: 30px;
}

.student-group .slick-prev, .student-group .slick-next {
  top: 25px;
}

.active-student {
  background-color: #111;
}

.student-class {}

.student-class-buttons {
  display: inline-block;
  margin: 0 0 10px 0;
}

.student-class-buttons button {
  margin: 0 10px 0 10px;
}
