.student-group {
  margin: 13px 0 0 0;
  white-space: normal;
}

.student-group h3 {
  margin-bottom: 20px;
}

.student-group input {
  text-align: center;
  color: #aaa;
  width: 31.3%;
  margin: 0;
}

.student-group-div {
  margin-bottom: 30px;
}

.student-group .slick-prev, .student-group .slick-next {
  top: 25px;
}

.active-student {
  background-color: #111;
}
